body{
    width: 100%;
}
.items{
    width:60%;
    display: flex;
    justify-content: space-between;
    margin: 100px auto;

}
.btn{
    display: block;
    border: solid 2px black;
    background-color: white;
    color: black;
    font-size: 30px;
    width:300px;
    height: 150px;
    text-align: center;
    margin:0 20px;
    text-decoration: none;
    line-height: 150px;
}
.welcome{
    font-size: 30px;
    color: white;
    margin-top:25px;
    margin-left: 15rem;
}
.flex{
	display: flex;
	justify-content: space-between;
	width: 80%;
}
.logout{
	color:white;
	text-decoration: none;
	display: block;
    margin-top: 31px;;
    background-color: green;
    width: 100px;
    text-align: center;
    padding: 3px;
    border: solid lightgreen 1px
}
.btn:hover{
	background-color: skyblue;
}
.logout:hover{
	background-color: lightgreen;
}