.flex{
    display: flex;
    justify-content: center;
}
.quizNumber{
    display: block;
    color: white;
    font-size: 30px;
    padding: 45px 45px;
}
.question {
    background-color: white;
    width: 80%;
    text-align: center;
    height: 4rem;
    font-size: 30px;
    margin: 0px auto;
    line-height: 2;
}
.choice{
	display: none;
}
.flex-box {
    display: flex;
    width: 80%;
    margin: 2rem auto;
    font-size: 30px;
}
.choice-box {
  background-color: white;
  margin: 20px 10px;
  width: 100%;
  display: block;
  text-align: center;
  height: 70px;
  line-height: 2.2;
}
.btn1 {
  width: 200px;
  height: 35px;
  font-size:20px;
}
.btn1:hover{
	background:#E2EDF9;
}
.center{
  text-align: center;;
}
input[type="radio"]:checked + label {
background: #31A9EE;
color: #ffffff;
}
.choice-box:hover {
background-color: #E2EDF9;
}

.ex {
    color: white;
    font-size: 25px;
    width: 80%;
}    
.next{
	color: white;
    text-decoration: none;
    background-color: green;
    text-align: center;
    width: 50px;
    border: solid lightgreen 1px;
    display: block;
    height: 25px;
    padding-top: 10px;
}
.next:hover{
	background-color: lightgreen;
}
.answer{
	display: hidden;
}
#yellow{
    background-color: yellow;
}