.flex{
    display: flex;
    justify-content: center;
}
.quizNumber{
    display: block;
    color: white;
    font-size: 30px;
    padding: 60px 45px;
}
.question {
    background-color: white;
    width: 80%;
    text-align: center;
    height: 4rem;
    font-size: 30px;
    margin: 0px auto;
    line-height: 2;
}
.choice{
	display: none;
}
.flex-box {
    display: flex;
    width: 80%;
    margin: 3rem auto;
    font-size: 30px;
}
.choice-box {
  background-color: white;
  margin: 20px 10px;
  width: 100%;
  display: block;
  text-align: center;
  height: 70px;
  line-height: 2.2;
}
.btn1 {
  width: 200px;
  height: 30px;
  font-size:15px;
}
.center{
  text-align: center;;
}
input[type="radio"]:checked + label {
background: #31A9EE;
color: #ffffff;
}
.choice-box:hover {
background-color: #E2EDF9;
}

.ex {
    color: white;
    font-size: 25px;
}    
.next{
	color: white;
    text-decoration: none;
    background-color: #41e717;
    text-align: center;
    line-height: 1.5;
    width: 50px;
    border: solid #41e717;
}
.answer{
	display: hidden;
}