@charset "UTF-8";

.call{
    font-size: 30px;
    color: white;
    margin:20px 70px;
}
.flex {
    display: flex;
}	
.left {
    width: 10%;
    margin-left: 10%;
    position: relative;
}
.btn {
    text-decoration: none;
    color: black;
    background-color: yellow;
    padding: 15px;
    position: absolute;
    top: 35%;
    border-radius: 30px
}
.btn:hover{
	background-color: lightyellow;
}
.txt{
    color: black;
    margin-top: 10px;
    font-size: 20px;
}
.right {
    width: 75%;
    background-color: white;
    margin-top: 10px;
    border: solid 2px lightgray;
    border-radius: 5px;
}
.toMain{
	text-decoration: none;
    background-color: green;
    color: white;
    width: 90px;
    height: 24px;
    border-radius: 3px;
    font-size: 20px;
    border: solid 1px black;
    text-align: center;
    position: absolute;
    left: 85%;
    line-height: 1.2;
    margin-top: 15px; 
}
.toMain:hover{
	background-color:lightgreen;
	}